.red {
  background-color: red;
}

.table__wrapper {
  overflow-x: auto;
}

table {
  /* table-layout: fixed; */
}

table thead .thead__id {
  width: 50px;
}

table thead .thead__action {
  width: 100px;
}


@media screen and (max-width: 600px) {
  .table thead th {
    padding: .2rem;
  }

  table thead .thead__id {
    width: 40px;
  }

  table thead .thead__action {
    width: 80px;
  }
}

/* @media screen and (max-width: 400px) {
  table thead .thead__action {
    width: 60px;
  }
} */